body {
  margin: 0;
  font-size: 2em;
  touch-action: manipulation;
  user-select: none;
  font-family: sans-serif;
  background: black;
  color: white;
  height: 100dvh;

  & > * {
    display: none;
  }

  &.listener #listener {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > * {
      flex-basis: 0;
      margin: 0;
    }

    #canvas {
      flex-grow: 2;
    }

    #bar {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: red;
    }

    #controls {
      flex-grow: 2;
      display: flex;
      gap: 0.5em;

      & > * {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #saveClear {
        font-size: inherit;
      }

      #pad {
        background: gray;
        touch-action: none;

        &.disabled {
          color: white;
        }
      }
    }
  }

  &.timer #timer {
    display: revert;
    height: 100%;
    background: #440000;
    transform-origin: center bottom;
    transform: scaleY(0);

    transition: transform 5s linear;

    &.active {
      transform: scaleY(1);
    }
  }
}
